@import '../_vars';

.part-view {
    padding-top: 20px;
}

.part-nav-link {
    transition: $transition;

    &:hover:not(.active) {
        text-decoration: underline;
    }

    &:focus {
        outline: none;
        box-shadow: $focus;
    }
}