@import '../_vars';

.speaker-table-col {
    padding: 0;
}

.speaker-table {
    margin-top: 20px;

    th, td {
        width: 50%;
    }

    .speaker-table-delete {
        width: 1.3rem;
    }
}

.icon-trash {
    height: 1rem;
    width: 1.3rem;
    padding-top: 3px;

    &::before {
        content: url(../images/icon-trash.svg);
        display: inline-block;
    }

    &:hover {
        cursor: pointer;
        
        &::before {
            content: url(../images/icon-trash-fill.svg);
        }
    }
}