@import '../vars';

.table.team-table {
    th, td {
        &.disabled {
            textarea {
                display: none;
            }
        }
    }

    .row-total {
        font-style: italic;
    }

    .row-wins td {
        border-top: 2px solid $gray !important;
    }
}

.cell-teamname {
    position: sticky;
    top: 39px;
    background-color: white;
    border-bottom: 1px solid $gray !important;
    vertical-align: top !important;

    .editText {
        margin-left: -5px;
        margin-top: -5px;
    }
}

.form-update-team-speaker {
    &:not(:first-of-type) {
        margin-top: 20px;
    }

    p {
        display: inline-block;
        font-weight: bold;
    }
}