@import '../_vars';

.table {
    tbody + tbody {
        border-top-width: 3px;
    }

    th, td {
        &.editable {
            padding: 5px 0 0;
        }

        &.disabled {
            textarea {
                display: none;
            }
        }
    }

    .row-total {
        font-style: italic;
    }

    .row-wins {
        border-top: 2px solid #DEE2E6;
    }
}

.cell-teamname {
    vertical-align: top !important;

    .icon-people {
        display: none;
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 5px;
        background-image: url(../images/icon-people.svg);
        cursor: pointer;
        transition: $transition;
    
        &:hover {
            background-image: url(../images/icon-people-filled.svg);
        }
    }
    
    .icon-trash {
        display: none;
    }
    
    &:hover {
        .icon-people, .icon-trash {
            display: inline-block;
        }
    }
}

.form-update-team-speaker {
    &:not(:first-of-type) {
        margin-top: 20px;
    }

    p {
        font-weight: 600;
    }
}