.setup-modal-backdrop {
    background-color: white;

    &.show {
        opacity: 1;
    }
}

.setup-modal-dialog > .modal-content {
    border: none;
    box-shadow: none;

    & > .modal-header {
        border: none;

        #setup-logo {
            height: 2rem;
            margin-right: 20px;
        }
    }

    & > .modal-body > .nav-tabs {
        justify-content: center;
        margin-top: 30px;
    }

    & > .modal-body > .tab-content {
        padding: 15px;
        border: 1px solid #DEE2E6;
        border-top: none;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        overflow: auto;

        .form-group {
            margin-bottom: 0;
        }

        h5 {
            margin-top: 1.5rem;
        }

        .collapse, .collapsing {
            margin-top: 0.5rem;
        }

        input[type=text] {
            margin-top: 0.5rem;
        }

        label {
            margin-bottom: 0;
        }
    }
}

#setup-form-submit {
    float: right;
    margin-top: 1.5rem;
}