.col-settings {
    padding-left: 0;
}

#section-cleardata {
    @media(min-width: 992px) {
        margin-bottom: 100px;
    }
}

#section-about {
    margin-bottom: 100px; // for small screens

    @media(min-width: 992px) {
        margin-top: 0; // same baseline as page h2
        border-left: 2px solid black;
        padding-left: 10px;

        h3 {
            font-weight: bolder;
        }
    }
}

#logo-github {
    height: 15px;
    margin-top: -2px; // center icon with text
}