@import '../_vars';

.no-show-sm {
    display: none;

    @media(min-width: 768px) {
        display: flex;
    }
}

#total-judges {
    margin-top: 30px;
}

.judge-table {
    th, td {
        width: 12.5%;
        text-align: center;
    }

    .judge-table-name {
        width: calc(50% - 1.3rem);
        text-align: left;
    }
}