@import '../_vars';

#total-judges {
    margin-top: 30px;
}

.judge-table {
    margin-top: 0;

    th, td {
        width: 12.5%;
        text-align: center;
    }

    .judge-table-name {
        width: calc(50% - 1.3rem);
        text-align: left;
    }
}