.no-show-sm {
    display: none;

    @media(min-width: 768px) {
        display: flex;
    }
}

#total-judges {
    margin-top: 30px;
}

.judge-table {
    .judge-table-name {
        width: calc(50% - 1.3rem);
    }

    .judge-table-toggle {
        width: 10%;
        text-align: center;
    }
}