.draw-legend {
    position: relative;
    margin-top: 20px;
    
    @media(min-width: 992px) {
        display: inline-block;
        border-left: 3px dotted black;
        padding-left: 7px;
        margin-top: 0;
        margin-left: 5px;
    }

    p {
        margin-top: 6px;
        margin-bottom: 10px;
        
        span {
            border-bottom: 1px dotted black;
        }
    }

    &.hidden {
        display: none;
    }
}

#draw-legend-popover {
    max-width: 100%;
}

.draw-header {
    margin-bottom: 30px;
}

.draw-table-one {
    margin-bottom: 3rem;
}
    
.draw-table-room-cell {
    width: 1%; // cell width becomes textarea width

    textarea {
        margin-right: 5px;
    }
}

.draw-table-team-cell {
    width: 20%;
}

.judgepill-container {
    display: inline-block;
}

.draw-modal {
    padding: 0 !important;

    .close {
        font-size: 2rem;
        padding-right: 32px;
    }
}

.draw-modal-dialog {
    margin: 0;

    & > .modal-content {
        width: 100vw;
        min-height: 100vh;
        font-size: 1.5rem;
        border: none;
        border-radius: 0;

        & > .modal-header {
            padding-left: 1rem;
            font-weight: 900;
            font-size: 2rem;
            text-transform: uppercase;
        }

        h3 {
            position: sticky;
            top: 0;
            padding-top: 0.75rem;
            padding-bottom: 5px;
            margin-top: -0.75rem;
            background-color: white;
            font-weight: bold;
            font-size: 1.75rem;
            z-index: 25;
        }

        .table {
            width: calc(100% - 16px);
        }

        th {
            font-weight: bold;
        }
    }
}

.draw-modal-table {
    .red {
        color: black;
    }

    .orange {
        color: black;
    }
}