@import '_vars';
@import url('https://rsms.me/inter/inter.css');


body, .popover {
    font-family: 'Inter', var(--font-family-sans-serif);
}

@supports (font-variation-settings: normal) {
    body, .popover {
        font-family: 'Inter var', var(--font-family-sans-serif);
    }
}


::selection {
    background-color: $cyan;
    color: white;
}


body {
    background-color: $gray;
}

a {
    color: $cyan;

    &:hover {
        color: $cyan;
        text-decoration: underline;
    }
}

h3 {
    font-size: 1.5rem;
}

.red {
    color: var(--red);
}


.table {
    margin-top: 30px;
    margin-bottom: 100px;

    th, td {
        vertical-align: middle;
        padding: 10px 5px;
    }

    .cell-low-padding {
        padding: 0 5px;
    }

    .table-delete {
        width: 1.3rem;
        padding: 0 5px;
        vertical-align: middle;
    }
}

.table-no-top-margin {
    margin-top: 0;
}

.cell-valupdate {
    text-align: left;
}


.custom-switch {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    padding-left: 0;
    margin-top: 6.75px;
    transition: $transition;
    
    input {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &.off {
        background-image: url(./images/icon-toggle-off.svg);

        &:hover, &:focus {
            background-image: url(./images/icon-toggle-off-cyan.svg);
        }
    }

    &.on {
        background-image: url(./images/icon-toggle-on.svg);

        &:hover, &:focus {
            background-image: url(./images/icon-toggle-on-cyan.svg);
        }
    }
}


.none-yet {
    margin-top: 30px;
}

.table-col {
    padding: 0;
}

.icon-trash {
    height: 1.3rem;
    width: 1.3rem;
    display: inline-block;
    margin-top: 6px;
    background-image: url(images/icon-trash.svg);
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-image: url(images/icon-trash-fill.svg);
    }
}

.icon-trash-filled {
    height: 1.3rem;
    width: 1.3rem;
    background-image: url(images/icon-trash-fill.svg);
}