@import '_vars';
@import url('https://rsms.me/inter/inter.css');

// Fonts
body, .popover {
    font-family: 'Inter', var(--font-family-sans-serif);
}

@supports (font-variation-settings: normal) {
    body, .popover {
        font-family: 'Inter var', var(--font-family-sans-serif);
    }
}


// Basic styles
::selection {
    background-color: $cyan;
    color: white;
}

body {
    background-color: $gray;
    overflow: hidden;
}

a {
    color: $cyan;

    &:hover {
        color: $cyan;
        text-decoration: underline;
    }
}

h3 {
    font-size: 1.5rem;
}

.red {
    color: var(--red);
}


// General button styling
.btn ~ .btn {
    margin-right: 10px;
}

.btn-icon {
    display: none;
    height: 1.5rem;
    margin-right: 10px;
    fill: $cyan;

    @media(min-width: 768px) {
        display: inline-block;
    }

    .active > &, .btn > & {
        fill: white;
    }
}

.btn-submit {
    float: right;
    @media (min-width: 768px) {
        float: left;
    }
}


// General form styling
input[type=text] {
    margin-bottom: 10px;
    @media(min-widith: 768px) {
        margin-bottom: 0;
    }
}


// General table styling
.table {
    margin-top: 30px;
    margin-bottom: 100px;

    th, td {
        vertical-align: middle;
        padding: 10px 5px;
    }

    .cell-low-padding {
        padding: 0 5px;
    }

    .table-delete {
        width: 1.3rem;
        padding: 0 5px;
        vertical-align: middle;
    }
}

.table-no-top-margin {
    margin-top: 0;
}

.table-less-bottom-margin-sm {
    margin-bottom: 40px;

    @media(min-width: 992px) {
        margin-bottom: 100px;
    }
}

.cell-valupdate {
    text-align: left;
}


// Switch styling
.custom-switch {
    .custom-control-label {
        left: 4px;
        cursor: pointer;

        &::before {
            border-color: black;
            background-color: transparent;
        }

        &::after {
            background-color: black;
        }

        &:hover::before {
            border-color: $cyan;
        }

        &:hover::after {
            background-color: $cyan;
        }
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::before {
            background-color: black;
            border-color: black;
        }

        &:hover::before {
            background-color: $cyan;
            border-color: $cyan;
        }
    }
}


// General miscellaneous
.nav-icon {
    height: 1.5rem;
}

.none-yet {
    margin-top: 30px;
}

.table-col {
    padding: 0;

    &.table-col-margin-lg {
        @media (min-width: 992px) {
            padding-left: 15px;
        }
    }
}

.icon-trash {
    height: 1.3rem;
    width: 1.3rem;
    display: inline-block;
    margin-top: 6px;
    background-image: url(images/icon-trash.svg);
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-image: url(images/icon-trash-fill.svg);
    }
}

.icon-trash-filled {
    height: 1.3rem;
    width: 1.3rem;
    background-image: url(images/icon-trash-fill.svg);
}