@import 'vars';
@import url('https://rsms.me/inter/inter.css');

// Fonts
body, .popover {
    font-family: 'Inter', var(--font-family-sans-serif);
}

@supports (font-variation-settings: normal) {
    body, .popover {
        font-family: 'Inter var', var(--font-family-sans-serif);
    }
}


// Basic styles
::selection {
    background-color: var(--primary);
    color: white;
}

body {
    background-color: #F7F7F7;
    overflow: hidden;
}

a {
    color: var(--primary);

    &:hover {
        color: var(--primary);
        text-decoration: underline;
    }
}

h3 {
    font-size: 1.5rem;
}

.red {
    color: var(--red);
}

.hidden {
    display: none;
}


// General layout styling
.row {
    margin: 0;
}

.col {
    padding: 0;
}

section {
    margin-top: 50px;
}

.table-col {
    padding: 0;

    &.table-col-margin-lg {
        @media (min-width: 992px) {
            padding-left: 15px;
        }
    }
}

.none-yet {
    margin-top: 30px;
}


// General button styling
.btn ~ .btn {
    margin-right: 10px;
}

.btn-icon {
    display: none;
    height: 1.5rem;
    margin-right: 10px;
    fill: var(--primary);

    @media(min-width: 768px) {
        display: inline-block;
    }

    .active > &, .btn > & {
        fill: white;
    }
}

.btn-submit {
    float: right;

    @media (min-width: 768px) {
        float: left;

        .modal-body > form > & {
            float: right;
        }
    }
}


// General form styling
input[type=text] {
    margin-bottom: 10px;
    @media(min-width: 768px) {
        margin-bottom: 0;
    }
}

textarea {
    resize: none;
    border: none;
    background-color: transparent;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    transition: $transition;

    &:hover {
        background-color: white;
        box-shadow: $card;
        cursor: pointer;
    }

    &:focus {
        background-color: white;
        box-shadow: $card;
        outline: none;
        cursor: text;
    }
}


// General table styling
.table {
    margin-top: 30px;
    margin-bottom: 100px;

    th, thead th, td {
        vertical-align: middle;
        padding: 10px 5px;
    }

    .cell-low-padding {
        padding: 0 5px;
    }

    .editable {
        padding: 5px 0 0;
    }

    .table-delete {
        width: 1.3rem;
    }
}

.table-no-top-margin {
    margin-top: 0;
}

.table-less-bottom-margin-sm {
    margin-bottom: 40px;

    @media(min-width: 992px) {
        margin-bottom: 100px;
    }
}

.cell-valupdate {
    text-align: left;
}


// Switch styling
.custom-switch {
    .custom-control-label {
        left: 4px;
        cursor: pointer;

        &::before {
            border-color: black;
            background-color: transparent;
        }

        &::after {
            background-color: black;
        }

        &:hover::before {
            border-color: var(--primary);
        }

        &:hover::after {
            background-color: var(--primary);
        }
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::before {
            background-color: black;
            border-color: black;
        }

        &:hover::before {
            background-color: var(--primary);
            border-color: var(--primary);
        }
    }
}


// General icon styling
.nav-icon {
    height: 1.5rem;
}

.icon {
    height: 1.3rem;
    width: 1.3rem;

    &[role=button] {
        cursor: pointer;
    }

    & ~ & {
        margin-left: 5px;
    }
}