@import '../vars';

.draw-header {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.draw-table-middle {
    margin-bottom: 3rem;
}

.draw-table-team-cell {
    width: 25%;
}

.cell-room {
    text-align: left;
}